{
    "applications": {
        "production": {
            "applicationId": "PARSE_APPLICATION_ID", 
            "masterKey": "PARSE_MASTER_KEY"
        }, 
        "_default": {
            "link": "development"
        }, 
        "development": {
            "applicationId": "DEV_PARSE_APPLICATION_ID", 
            "masterKey": "DEV_PARSE_MASTER_KEY"
        }
    }
}
